<!-- As imagens do carrossel serão renderizadas aqui -->
<div id="carouselExampleIndicators" class="carousel slide container-carousel">
    <div class="carousel-indicators">
    </div>

    <div class="carousel-inner">

        <div class="data-carousel">
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="seta-slider" aria-hidden="true">
                    <i class="ri-arrow-left-s-line"></i>
                </span>
                <span class="visually-hidden">Previous</span>

            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="seta-slider" aria-hidden="true">
                    <i class="ri-arrow-right-s-line"></i>
                </span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>